.swiper {
    height: 212px;
    position: relative;
}
.navMenu {
    padding: 10px 0;
    background-color: #fff;
    .am-flexbox-item {
        text-align: center;
    }
    img {
        width: 48px;
    }
    p {
        margin-top: 7px;
        font-size: 13px;
    }
}

.groups {
    padding: 0 10px;
    background-color: #f6f5f6;
    overflow: hidden;
    &-title {
        margin: 15px 0 15px 10px;
        h3 {
            font-size: 15px;
        }
        span {
            color: #787d82;
        }
    }

    .am-grid .am-flexbox {
        background-color: transparent;
        & .am-grid-item:first-child {
            margin-right: 10px;
        }
    }
    .am-grid-item {
        height: 85px;
        margin-bottom: 10px;
        background-color: #fff;
        p {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        span {
            color: #999;
            font-size: 12px;
        }
        img {
            width: 55px;
        }
    }

    .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
        padding: 10px 0;
    }
}

.news {
    padding: 10px;
    background-color: #fff;
    > h3 {
        font-size: 15px;
        margin: 10px 0 5px 10px;
    }

    &-item {
        padding: 15px 10px 15px 0;
        border-bottom: 1px solid #e5e5e5;
        img {
            height: 90px;
            width: 120px;
        }
    }
    .item-desc {
        height: 90px;
        padding-left: 12px;
        h3 {
            font-size: 14px;
        }
    }
    .item-time {
        width: 100%;
        color: #9c9fa1;
    }
}
